fastapi
uvicorn
pydantic<2.8

numpy>=2.3
pandas>=2.2
scikit-learn
scipy

jinja2
python-dateutil
pytz

requests
urllib3

joblib
threadpoolctl

gitpython

pycountry
pycountry_convert
altair
pyarrow
watchdog
